
<h1 mat-dialog-title *ngIf="infoVirusGlobal && !errorRed">Datos actuales del covid-19</h1>
<div mat-dialog-content>

  <!-- list -->
  <mat-list *ngIf="infoVirusGlobal && !errorRed">

    <mat-divider></mat-divider>
  
    <mat-list-item>
      <h4 mat-line class="title-item">Total casos confirmados</h4>
      <h4 mat-line>{{ infoVirusGlobal.TotalConfirmed | number }}</h4>
      <mat-icon mat-list-icon>
        <i class="fas fa-male"></i>
      </mat-icon>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line class="title-item">Total casos recuperados</h4>
      <h4 mat-line>{{ infoVirusGlobal.TotalRecovered | number }}</h4>
      <mat-icon mat-list-icon>
        <i class="fas fa-hand-rock"></i>
      </mat-icon>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line class="title-item">Total casos fallecidos</h4>
      <h4 mat-line>{{ infoVirusGlobal.TotalDeaths | number }}</h4>
      <mat-icon mat-list-icon>
        <i class="fas fa-virus"></i>
      </mat-icon>
    </mat-list-item>
    
  </mat-list>
  
</div>

<!-- spinner -->
<mat-spinner *ngIf="!infoVirusGlobal && !errorRed"></mat-spinner>

<!-- error de red -->
<app-error-red *ngIf="errorRed"></app-error-red>


<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Cerrar</button>
</div>
