
<h1 mat-dialog-title *ngIf="paisNameEsp && !errorRed">Estadisticas {{ paisNameEsp }}</h1>

<mat-divider *ngIf="paisNameEsp && !errorRed"></mat-divider>

<div mat-dialog-content>

    <div class="container-canvas" *ngIf="statsPais && !errorRed">
        <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
    </div>

    
</div>

<!-- icono de carga -->
<mat-spinner *ngIf="!statsPais && !errorRed"></mat-spinner>

<!-- error de red -->
<app-error-red *ngIf="errorRed"></app-error-red>
